<p style="color: green"><%= notice %></p>

<%= render @email_group %>

<div>
  <%= link_to "Edit this email group", edit_email_group_path(@email_group) %> |
  <%= link_to "Back to email groups", email_groups_path %>

  <%= button_to "Destroy this email group", @email_group, method: :delete %>
</div>
